.logo {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  color: #212121;
  list-style: none;
  text-decoration: none;
  margin-right: 93px;
}

.logo span {
  color: #2196F3;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.contacts {
  margin-left: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

/* Links */
.link {
  list-style: none;
  text-decoration: none;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.link:focus {
  color: #2196F3;
}

/* Svg */
.icons {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icons:hover,
.icons:focus {
  fill: #2196F3;
}

.main-text {
  background-color: #2F303A;
  text-align: center;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.main-title {
  color: #FFF;
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #2196F3;
  color: #FFF;
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  width: 216px;
  height: 50px;
  letter-spacing: 0.96px;
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}

.model {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 1000px 100px rgb(171, 171, 171), 10px 10px 50px 50px rgb(0, 0, 0);
          box-shadow: 0 0 1000px 100px rgb(171, 171, 171), 10px 10px 50px 50px rgb(0, 0, 0);
  width: 528px;
  height: 581px;
  padding: 40px;
}

.icon-close {
  height: 18px;
  width: 18px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .list {
  margin-bottom: 20px;
}

.bold {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}

.form .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #212121;
}

.form .item:not(:last-child) {
  margin-bottom: 10px;
}

.form .item:focus-within .form-label {
  color: #2196F3;
}

.form .item:focus-within .form-icon {
  color: #2196F3;
}

.form-label {
  text-align: start;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
}

.form-icon {
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: currentColor;
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.form .button {
  margin: 0;
  margin: auto;
}

.field {
  width: 448px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding-left: 42px;
}

.field:hover {
  border: #2196F3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.textarea {
  width: 448px;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

.group {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-link {
  width: 400px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #757575;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.conditions {
  color: #2196F3;
  line-height: 24px;
  letter-spacing: 0.42px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.serv-section {
  padding-bottom: 118px;
  padding-top: 94px;
}

.serv-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}

.serv-list .serv-text {
  color: #757575;
}

.advantege-icon {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: #F5F4FA;
}

.serv-item {
  display: block;
  height: 100px;
}

.what-we-do {
  padding-bottom: 188px;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.position {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.label {
  position: absolute;
  bottom: 3px;
  right: 0;
  left: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #FFF;
  background: rgba(47, 48, 58, 0.8);
}

.team .container {
  background-color: #F5F4FA;
  margin-bottom: 154px;
}

.our-team {
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-text {
  text-align: center;
}

.team-toptext {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-undertext {
  color: #757575;
  margin-bottom: 30px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
}

.icon-link {
  width: 44px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.icon-link:hover {
  color: #F5F4FA;
  background-color: #2196F3;
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 94px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 110px;
  margin-top: 66px;
  color: #757575;
}

.brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #757575;
}

.brand-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.brand:hover,
.brand:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

footer {
  background-color: #2F303A;
  color: #757575;
}

.logo {
  display: block;
  padding-top: 60px;
  color: #FFF;
}

.footer-address {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
}

.kyiv {
  padding-bottom: 10px;
  color: #FFF;
}

.phone {
  padding-top: 10px;
  padding-bottom: 60px;
}

.footer-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  border: rgba(255, 255, 255, 0.6);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
  gap: 8px;
}

.buttons {
  color: #212121;
  background-color: #F5F4FA;
  border: transparent;
  text-align: center;
  border-radius: 4px;
}

.buttons:hover,
.buttons:focus {
  background-color: #2196F3;
  color: #FFF;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 154px;
}

.work-item:hover .hover-text {
  bottom: 80px;
}

.work-item {
  position: relative;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  bottom: -100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 500ms all;
  transition: 500ms all;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 43px 24px;
  /* width: 322px;
  height: 168px; */
}

.port-wrapper {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes info {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-color: #2196F3;
  }
}

@keyframes info {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-color: #2196F3;
  }
}
.work-text {
  margin-left: 24px;
  margin-right: 24px;
}

.work-toptext {
  margin-top: 20px;
}

.work-undertext {
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  list-style: none;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */