:root {
    --main-color: #2196F3;
    --background-color: #2F303A;
    --backside-color: #F5F4FA;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --lightblack-color: #212121;
    --ligthwight-color: rgba(255, 255, 255, 0.6);
    --gray-color: #757575;
}


.main-name{
    font-family: "Raleway", sans-serif;
    font-weight: 700px;
    font-size: 26px;
    line-height: 30.52px;
}


.categories{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}


.big-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}


.button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}


.p-for-plan {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }


  .contacts{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}
  

.plan-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}

.what-are-we-doing{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
}

.people{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
}

.names{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
}

.peoples-work{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}

.address{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.contacts-footer{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.contacts-footer-mail{
    text-decoration: none;
}

.contacts-footer-tel{
    text-decoration: none;
}

.main-name-link{
text-decoration: none;
}

.categories-link{
    text-decoration: none;
}

.contacts-header-mail{
    text-decoration: none;
}

.contacts-header-tel{
    text-decoration: none;
}

.main-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.main-info {
}
.list-main-info {
}
.images-main-info {
}
.name-main-info {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.span-main-info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}