:root {
    --main-color: #2196F3; 
    --background-color: #2F303A;
    --backside-color: #F5F4FA;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --lightblack-color: #212121;
    --ligthwight-color: rgba(255, 255, 255, 0.6);
    --gray-color: #757575;
}

