    $title-color: #2196F3;
    $secondary-title-color: #212121;
    $main-background-color: #FFF;
    $secondary-background-color: #2F303A;
    $text-color: #212121;
    $secondary-text-color: #FFFFFF99;
    $theird-text-color: #757575;
    $theird-background-color: #F5F4FA;